<!-- style.css -- > body {
  font-family: sans-serif;
  padding: 20px;
  background: #f9f9f9;
}
header nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #007acc;
}
button {
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  cursor: pointer;
}
